<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IStagecraftOrganizingService">
          <reliableSession inactivityTimeout="00:20:00" />
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7742/StagecraftOrganizingServiceHost.svc" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IStagecraftOrganizingService" contract="StagecraftOrganizingService.IStagecraftOrganizingService" name="WSDualHttpBinding_IStagecraftOrganizingService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="StagecraftOrganizer_ManagerAppDBContext" connectionString="metadata=res://*/Model.StagecraftOrganizer_ManagerAppModel.csdl|res://*/Model.StagecraftOrganizer_ManagerAppModel.ssdl|res://*/Model.StagecraftOrganizer_ManagerAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FMR1U68\SQLEXPRESS;initial catalog=StagecraftOrganizerCentralDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>